sudo: required
dist: trusty
language: node_js

before_install:  
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start

 after_script:
 - node node_modules/codeclimate-test-reporter/bin/codeclimate < coverage/lcov.info