<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Inverted Index</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="src/inverted-index.js"></script>
  <script src="src/pageCtrl.js"></script>
</head>

<body ng-controller="pageController">
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Inverted Index</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="main-content">
        <table class="mdl-data-table mdl-shadow--2dp half left" id="table">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Words</th>
              <th ng-repeat="(index,value) in docs">{{'Document '+(index+1)}}</th>
            </tr>

          </thead>
          <tbody>
            <tr ng-repeat="(key,value) in docArray">
              <td>{{key}}</td>
              <td ng-repeat="(index,value) in docs">
                <span ng-if="docArray[key].includes(index)" style="font-weight:bold;">X</span>
                <span ng-if="!docArray[key].includes(index) && searchStatus" style="color:red; font-weight:bold; 
                 font-size:10px;">
                 Not Found
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="other">
        <div class="mdl-textfield mdl-js-textfield" id="upload">
          <input class="mdl-textfield__input" type="file" id="file" style="width: 330px;">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="fileUpload()" style="float:right">Upload File</button>
        </div>
        <div class="error">
          <span style="color:red; margin-left: -110px; font-weight:bold;">{{message}}</span>
          <span style="color:green; margin-left: -110px; font-weight:bold;">{{msg}}</span>
        </div>
        <br />
          <hr />
        <div id="result">
          <p style=" width: 350px;margin-left: -50px;margin-top: 50px">
            Select File to Index and/or search below
            </p>
          <div>
            <br />
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select" style="width:110px; margin-right:100px; margin-top: -30px; margin-left: -50px;">
              <input class="mdl-textfield__input" value="Select File" type="text" id="createIndex" readonly tabIndex="-1" style="margin-left:25px;"/>
              <label class="mdl-textfield__label" for="country" style="margin-left:40px;">Create Index</label>
              <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu" for="createIndex" style="z-index:999999;">
                <li ng-show="!documents.length">No file</li>
                <li ng-repeat="(key, value) in documents" ng-click="index(key)" ng-if="value.name">{{value.name}}</li>
              </ul>
            </div>
            <hr style="width: 350px; margin-top:-10px;margin-left:-90px;"/>
            <br />
            <div class="mdl-textfield mdl-js-textfield search">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="search()" id="search" style="float:right">Search</button>
              <input class="mdl-textfield__input" type="text" id="terms" style="margin-left: -20px;width: 280px;">
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>


</body>

</html>