<!DOCTYPE html>
<html ng-app="app">

<head>
  <title>Inverted Index</title>
  <link rel="stylesheet" href="css/index.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="src/inverted-index.js"></script>
  <script src="src/utils.js"></script>
  <script src="src/pageCtrl.js"></script>
</head>

<body ng-controller="pageController">
  <!-- Always shows a header, even in smaller screens. -->
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">Inverted Index</span>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
      </div>
    </header>
    <main class="mdl-layout__content">
      <div class="main-content">
        <div style="margin-left:10px; width:40%;" ng-if="!documents.length">
          <h5 style="text-align:center;">How to use this app</h5>
          <ul style="margin-top:-10px; line-height:16px;">
            <li>Select and upload a file with .json file extension</li>
            <li>After successful upload, Create an index of the file by clicking <i>Select File</i></li>
            <li>Index your file of choosing from the dropdown</li>
            <li>You can search for keywords in your indexed file in the search input</li>
          </ul>
        </div>
        <table class="mdl-data-table mdl-shadow--2dp half left" id="table" ng-if="documents.length">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Words</th>
              <th ng-repeat="(index,value) in docs">{{'Document '+(index+1)}}</th>
            </tr>

          </thead>
          <tbody>
            <tr ng-repeat="(key,value) in docArray">
              <td>{{key}}</td>
              <td ng-repeat="(index,value) in docs">
                <span ng-if="docArray[key].includes(index)" style="font-weight:bold;">X</span>
                <span ng-if="!docArray[key].includes(index) && searchStatus" style="color:red; font-weight:bold; 
                 font-size:10px;">
                 Not Found
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="other">
        <div class="mdl-textfield mdl-js-textfield" id="upload">
          <input class="mdl-textfield__input" type="file" id="file" style="width: 330px;">
        </div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="fileUpload()" style="float:left; margin-top: 50px;">Upload File</button>
        <div class="error">
          <span style="color:red; margin-left: -90px; font-weight:bold;">{{message}}</span>
          <span style="color:green; margin-left: -110px; font-weight:bold;">{{msg}}</span>
        </div>
        <br />
        <hr />
        <div id="result">
          <div>
            <br />
            <div class="mdl-select mdl-js-select mdl-select--floating-label">
              <select class="mdl-select__input" id="profession" placeholder="professsion" style="margin-bottom: 10px;margin-left: 40px;">
                <option ng-if="!documents.length">Upload a file</option>
                <option ng-repeat="(key, value) in documents" ng-if="value.name">{{value.name}}</option>
              </select>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="index()" id="create-index" style="float:left;margin-left: -90px;margin-top: -45px;">Create Index</button>
            </div>
            <hr style="width: 350px; margin-top:-10px;margin-left:-90px;" />
            <br />
            <div class="mdl-textfield mdl-js-textfield search">
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" ng-click="search()" id="search" style="float:right">Search</button>
              <input class="mdl-textfield__input" type="text" placeholder="Search Here" id="terms" style="margin-left: -20px;width: 280px;">
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>


</body>

</html>